{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Ваша корзина покупок
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
    <h1>Ваша корзина покупок</h1>
    {% if cart %}
        <table class="cart">
            <thead>
                <tr>
                    <th>Изображение</th>
                    <th>Продукт</th>
                    <th>Количество</th>
                    <th>Удалить</th>
                    <th>Цена за единицу товара</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="max-width: 100px; height: auto; border-radius: 8px;">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>
                                <form action="{% url 'cart:cart_add' product.id %}" method="post" style="display: inline-block; margin: 0;">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.override }}
                                    <input type="submit" value="Изменить" class="button-small update">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'cart:cart_remove' product.id %}" method="post" style="display: inline-block; margin: 0;">
                                    <input type="submit" value="Удалить" class="button-small delete">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="num">₽ {{ item.price }}</td>
                            <td class="num">₽ {{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                {% if cart.coupon %}
                    <tr class="subtotal">
                        <td>Итого</td>
                        <td colspan="4"></td>
                        <td class="num">₽ {{ cart.get_total_price|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td>
                            "{{ cart.coupon.code }}" купон
                            ({{ cart.coupon.discount }}% скидка)
                        </td>
                        <td colspan="4"></td>
                        <td class="num neg">
                            - ₽ {{ cart.get_discount|floatformat:2 }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="total">
                    <td>Общее</td>
                    <td colspan="4"></td>
                    <td class="num">₽ {{ cart.get_total_price_after_discount|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
        <div class="coupon-section">
            {% if recommended_products %}
                <div class="recommendations">
                    <h3>Люди, которые купили это, также купили</h3>
                    <div class="recommended-products">
                        {% for p in recommended_products %}
                            <div class="item">
                                <a href="{{ p.get_absolute_url }}">
                                    <img src="{% if p.image %}{{ p.image.url }}{% else %}
                                    {% static 'img/no_image.png' %}{% endif %}">
                                </a>
                                <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="coupon-form-container">
                <div class="coupon-title">Примените купон:</div>
                <form action="{% url 'coupons:apply' %}" method="post" class="coupon-form">
                    {{ coupon_apply_form }}
                    <input type="submit" value="Применить">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% else %}
        <p><strong>В вашей корзине пусто.</strong><br>Загляните на главную, чтобы выбрать товары или найдите нужное в поиске.</p>
    {% endif %}
    <p class="text-right" style="margin-top: 20px; text-align: right;">
        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
        {% if cart %}
            <a href="{% url 'orders:order_create' %}" class="button primary">Перейти к оформлению</a>
        {% endif %}
    </p>
{% endblock %}
