{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}SportGoodsStore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/ball.png' %}" type="image/png"/>
    {% block head %}
    {% endblock %}
</head>


<body>
    <!-- Навигация -->
    <header>
        <nav>
            <div class="nav-left">
                <h1>SportGoodsStore <i class="fas fa-bicycle"></i></h1>
            </div>
            <div class="nav-right">
                <button class="menu-toggle">Меню</button>
                <ul class="nav-links">
                    <li><a href="{% url 'shop:product_list' %}">Главная</a></li>
                    <li><a href="{% url 'shop:about' %}">О нас</a></li>
                    <li><a href="{% url 'users:profile' %}">Профиль</a></li>
                    <li>
                        <a href="{% url 'cart:cart_detail' %}">Корзина</a>
                        {% with total_items=cart|length %}
                            {% if total_items > 0 %}
                                <span class="cart-indicator">{{ total_items }}</span>
                            {% endif %}
                        {% endwith %}
                    </li>
                    <li><button class="wishlist-button" type="button" onclick="location.href='{% url 'shop:wishlist' %}'">
                        <i class="fas fa-heart heart-icon"></i></button>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                        </li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Войти</a></li>
                    {% endif %}
                </ul>
                <form action="{% url 'shop:search_results' %}" method="get" class="search-form">
                    <input type="text" name="q" placeholder="Поиск...">
                    <button type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>


    <!-- Основное содержимое -->
    <main>
        <div class="container">
            <section class="content">
                {% include 'breadcrumbs.html' %}
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </main>

    <!-- Футер -->
    <footer>
        <p>&copy; 2024 SportGoodsStore. Все права защищены.</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
