{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <h3>Нужен аккаунт?
            <form method="get" action="{% url 'account_signup' %}">
                <button type="submit">Зарегистрируйтесь!</button>
            </form>
        </h3>
    </div>
{% endblock content %}
