{% extends "shop/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}Забыли пароль?{% endblock %}

{% block content %}
<div class="reset-password-container">
    <h2>Забыли пароль?</h2>
    <p>Забыли свой пароль? Введите Ваш адрес электронной почты ниже, и мы отправим Вам письмо, чтобы вы могли его сбросить.</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.email }}
        <button type="submit">Отправить ссылку для сброса пароля</button>
    </form>
</div>
{% endblock %}
