.product-detail {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    max-width: none;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.product-info p.price {
    font-size: 28px;
    color: #28a745;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 16px;
    line-height: 1.6;
}

.product-info form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-info form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.product-info form input[type="submit"]:hover {
    background-color: #0056b3;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.quantity-button:hover {
    background-color: #0056b3;
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        width: 100%;
    }

    .product-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product-info {
        align-items: center;
    }

    .product-info form {
        flex-direction: column;
        align-items: center;
    }

    .product-info form input[type="submit"] {
        padding: 5px 10px;
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
    }

    .quantity-control {
        flex-direction: column;
        align-items: center;
    }

    .quantity-button {
        padding: 5px;
        font-size: 14px;
        margin: 5px 0;
    }

    .quantity-input {
        width: 50px;
        padding: 3px;
    }
}
